$nav-tabs-border-color: #BB86FC;
$nav-tabs-link-hover-border-color: #BB86FC;
$nav-tabs-link-active-color: #000;
$nav-tabs-link-active-bg: #BB86FC;
$nav-tabs-link-active-border-color: #3700b3;
$navbar-dark-hover-color: #BB86FC;
$link-color: #fff;
$theme-colors: ( "primary": #BB86FC, "secondary": #121212, "success": #03dac6, "info": #3700b3, "warning": #b00020, "danger": #cf6679, "light": #fff, "dark": #000);