{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="main-content">
    <div class="row">
        <a href="/computers" class="btn btn-default col-md-3">Computers</a>
        <a href="#" class="btn btn-default col-md-3">Monitors</a>
        <a href="#" class="btn btn-default col-md-3">Printers</a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-default col-md-3">Access Points</a>
        <a href="#" class="btn btn-default col-md-3">Cartridges</a>
        <a href="#" class="btn btn-default col-md-3">Other</a>
    </div>{% endblock %}