{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="container">
    <div class="row m-5">
        <div class="col-3"></div>
        <div class="col-6 border border-2 border-light my-5 p-5 rounded align">
            <h2 class="my-3 text-light text-center">Login</h2>
            <form class="my-3" action="/login" method="post">
                <label class="h4 my-3" for="username">Username</label>
                <input type="text" class="form-control mb-3" name="username" id="username">
                <label class="h4 mb-3" for="password">Password</label>
                <input type="password" class="form-control mb-3" name="password" id="password">
                <button class="btn btn-primary btn-lg">
                    <h4 class="text-dark">Login</h4>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}