{% extends "base.html" %} {% block title %}Network Devices{% endblock %} {% block content %}
<div class="border p-md-4 my-5">
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="active activ-dark nav-link px-5 text-" data-bs-toggle="tab" href="#add">
                </i>
                <h4 class="tab-text">Add</h4>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-5" data-bs-toggle="tab" href="#issue">
                <h4 class="tab-text">Issue</h4>
            </a>
        </li>
    </ul>
    <div class="tab-content  my-5">
        <div class="active tab-pane" id="add">
            <h2>Add Network Devices</h2>
            <div class="my-3">
                <form action="/addNetwork" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="model" class="text-light h4">Make & Model</label>
                        </div>
                        <div class="col">
                            <select name="model" id="model" class="form-select ms-auto form-control">
                                {% for row in data%}
                                <option>
                                    {{ row[0] + ' ' + row[1]}}
                                </option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="condition" class="text-light h4">Condition</label>
                        </div>
                        <div class="col">
                            <select id="condition" class="form-select ms-auto form-control">
                                <option>New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                              </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="type" class="text-light h4">Catagory</label>
                        </div>
                        <div class="col">
                            <select name="category" id="category" class="form-select ms-auto form-control">
                                <option selected>Access Point</option>
                                <option>Hub</option>
                                <option >NanoStation</option>
                                <option>Switch</option>
                              </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="snumber" class="text-light h4">Serial Number</label>
                        </div>
                        <div class="col">
                            <input name="snumber" id="snumber" type="text" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-primary px-3 col-2 ms-auto text-dark" type="button ">
                            <h5 class="text-dark">
                                Submit
                            </h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="issue">
            <h2>Issue Network Devices</h2>
            <div class="my-3">
                <form action="/issueNetwork" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="snumber" class="text-light h4">Serial Number</label>
                        </div>
                        <div class="col">
                            <input name="snumber" id="snumber" type="text" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="user" class="text-light h4">User Email</label>
                        </div>
                        <div class="col">
                            <input name="user" id="user" type="text" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="date" class="text-light h4">Receive Date</label>
                        </div>
                        <div class="col">
                            <input nmae="date" id="date" type="date" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-primary px-3 col-2 ms-auto text-dark" type="button ">
                            <h5 class="text-dark">
                                Submit
                            </h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}