{% extends "base.html" %} {% block title %}Others{% endblock %} {% block content %}
<div class="border p-md-4 my-5">
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="active activ-dark nav-link px-5 text-" data-bs-toggle="tab" href="#add">
                <h4 class="tab-text">Add</h4>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-5" data-bs-toggle="tab" href="#issue">
                <h4 class="tab-text">Issue</h4>
            </a>
        </li>
    </ul>
    <div class="tab-content  my-5">
        <div class="active tab-pane" id="add">
            <h2>Add Misc.</h2>
            <div class="my-3">
                <form action="/addCon" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="category" class="text-light h4">Category</label>
                        </div>
                        <div class="col">
                            <select name="category" id="category" class="form-select ms-auto form-control">
                                {% for row in data%}
                                <option>
                                    {{ row.model }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="amount" class="text-light h4">Amount</label>
                        </div>
                        <div class="col">
                            <input name="amount" id="amount" type="text" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-primary px-3 col-2 ms-auto text-dark" type="button">
                            <h5 class="text-dark">
                                Submit
                            </h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="issue">
            <h2>Issue Misc.</h2>
            <div class="my-3">
                <form action="/issueCon" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="category" class="text-light h4">Category</label>
                        </div>
                        <div class="col">
                            <select name="category" id="category" class="form-select ms-auto form-control">
                                {% for row in data%}
                                <option>
                                    {{ row.model }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="amount" class="text-light h4">Amount</label>
                        </div>
                        <div class="col">
                            <input name="amount" id="amount" type="text" class="form-control ms-auto" value="1">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="date" class="text-light h4">Receive Date</label>
                        </div>
                        <div class="col">
                            <input name="date" id="date" type="date" class="form-control ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-primary px-3 col-2 ms-auto text-dark" type="button ">
                            <h5 class="text-dark">
                                Submit
                            </h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="/print" target="_blank" class="btn btn-primary btn-lg mt-3 mr-3"><i class="bi bi-file-earmark-check-fill"></i></a>
</div>
{% endblock %}