{% extends "base.html" %} {% block title %}Request{% endblock %} {% block content %}
<div class="border p-md-4 my-5" id="requests-tab">
    <h2>Add New Request</h2>
    <div class="my-3">
        <form action="/addreq" method="post">
            <div class="row mb-3">
                <div class="col">
                    <label for="user" class="text-light h4">Requested for</label>
                </div>
                <div class="col">
                    <input name="user" id="user" type="text" class="form-control ms-auto">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="category" class="text-light h4">Item Type</label>
                </div>
                <div class="col">
                    <select name="category" id="category" class="form-select ms-auto form-control">
                        {% for row in category %}
                                <option>
                                {{ row.name }} <!-- check this shit first -->
                                </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="amount" class="text-light h4">Amount</label>
                </div>
                <div class="col">
                    <input name="amount" id="amount" type="text" class="form-control ms-auto" value="1">
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary px-3 col-2 ms-auto text-dark" type="submit">
                    <h5 class="text-dark">
                        Submit
                    </h5>
                </button>
            </div>
        </form>
    </div>
    <div class="row mb-3">
        <div class="col-1">
            <h3 class="text-primary">Requests</h3>
        </div>
        <div class="col border-bottom border-primary border-3"></div>
    </div>
    <div>
        <table class="table text-light">
            <thead>
                <tr>
                    {% for head in headings %}
                    <th scope="col">
                        {{ head }}
                    </th>
                    {% endfor %}
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody class="text-light">
                {% for row in data %}
                <tr>
                    <td class="col">
                        {{ row.reqItm }}
                    </td>
                    <td class="col">
                        {{ row.reqUser }}
                    </td>
                    <td class="col">
                        {{ row.dept }}
                    </td>
                    <td class="col">
                        {{ row.amount }}
                    </td>
                    <td class="col">
                        <select name="status" id="status" class="form-control form-control-sm">
                            <option value="Pending"{% if row.status==1 %} selected="selected"{% endif %}>Pending</option>
                            <option value="Requested"{% if row.status==2 %} selected="selected"{% endif %}>Requested</option>
                            <option value="Received By User"{% if row.status==3 %} selected="selected"{% endif %}>Received By User</option>
                            <option value="in IT"{% if row.status==4 %} selected="selected"{% endif %}>in IT</option>
                            <option value="Cancelled"{% if row.status==5 %} selected="selected"{% endif %}>Cancelled</option>
                        </select>
                    </td>
                    <td class="col">
                        <input name="pr" id="pr" type="text" class="form-control ms-auto form-control-sm" placeholder="PR NUmber" value="{{ row.prNumber }}">
                    </td>
                    <td class="col">
                        <input name="po" id="po" type="text" class="form-control ms-auto form-control-sm" placeholder="PO NUmber" value="{{ row.poNumber }}">
                    </td>
                    <td class="col">
                        <input name="requestDate" id="requestDate" type="date" class="form-control ms-auto form-control-sm" value="{{ row.requestDate }}">
                    </td>
                    <td class="col">
                        <input name="receiveDate" id="receiveDate" type="date" class="form-control ms-auto form-control-sm" value="{{ row.receiveDate }}">
                    </td>
                    <td class="col">
                        <button type="button" class="btn btn-primary text-dark btn-sm updateRow">Update</button>
                    </td>
                    <td class="col">
                        <button type="button" onclick="" class="btn btn-primary text-dark btn-sm">Receive</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}